.queen-container {
  position: relative;
}
.queen-select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: medium none;
  opacity: 0;
}
.queen-select-title {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.queen-select-title h2 {
  font-weight: normal;
  font-size: 100%;
}
.queen-triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid white;
  position: absolute;
  top: 11px;
  right: 5px;
  transform: rotate(0deg);
  transition: 0.5s;
}
.queen-triangle-up {
  transform: rotate(180deg);
  transition: 0.5s;
}
.queen-select-list {
  width: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 1;
  transition: 0.5s;
  height: auto;
  z-index: 2;
}
.queen-hide {
  opacity: 0;
  transition: 0.5s;
  height: 0px;
}
.queen-select-item {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: #3EAA9D;
  transition: 0.3s;
}
.queen-select-item:hover,
.active {
  background-color: #AD2929;
  transition: 0.3s;
}
