*{
	margin: 0;
	padding: 0;
}
html,body{
	background-color: #f2f2f2;
	font-family: "微软雅黑";
	color: #000;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
html{
	font-size: 32px;
}
body{
	font-size:16px;
	font-size:1rem;
}
#agent-container{
	height: 100%;
	width: 100%;
}
#agent-header{
	height: 3rem;
	width: 100%;
	text-align: center;
	position: relative;
}
#agent-header h1{
	height: 2rem;
	line-height: 2rem;
	font-size: 1rem;
}
.message{
	height: 1rem;
	line-height: 1rem;
	font-size: 0.6rem;
	width: 100%;
	margin: 0 auto;
}
.message p.level{
	float: left;
	margin-left: 0.5rem;
}
.message p.score{
	float: right;
	margin-right: 0.5rem;
}
#agent-main{
	width: 100%;
	margin: 0 auto;
	position: relative;
}
#game-main{
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 3px 3px #ccc;
}